.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  background-color: #f8f9fa;
  border-bottom: 1px solid #ddd;
  font-family: 'Arial', sans-serif;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

.logo-image {
  height: 50px; /* 원하는 높이 설정 */
  width: auto;  /* 비율 유지 */
}

.nav ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav li {
  margin: 0 15px;
}

.nav a, .nav span {
  text-decoration: none;
  color: #007bff;
  font-size: 16px;
}

.nav a:hover {
  text-decoration: underline;
}

.auth-buttons {
  display: flex;
  gap: 10px;
}

.mypage-btn {
  padding: 8px 15px;
  font-size: 14px;
  border: 1px solid #007bff;
  background-color: #fff;
  color: #007bff;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.mypage-btn:hover {
  background-color: #007bff;
  color: #fff;
}

.login-btn, .signup-btn {
  padding: 8px 15px;
  font-size: 14px;
  border: 1px solid #007bff;
  background-color: #fff;
  color: #007bff;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.login-btn:hover, .signup-btn:hover {
  background-color: #007bff;
  color: #fff;
}

.menu > li {
  position: relative;
}

.dropdown-menu {
  display: none !important;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #f8f9fa;
  border: 1px solid #ccc;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 0 0 5px 5px;
  margin: 20px 5px 20px 5px;
  list-style: none;
  z-index: 1000;
}

.dropdown:hover span{
  text-decoration: underline;
}

.dropdown:hover .dropdown-menu {
  display: block !important;
}

.menu > li > span {
  display: inline-block;
}