/* 작성자 : 심세연 */

article {
    margin: 7vw 10vw;
    box-sizing: border-box;
}

article > a {
    text-decoration: none;
    color: #000;
}

.article-title {
    font-size: 2.4rem;
    font-weight: 700;
    cursor: pointer;
}

.main-event-container, .main-park-container {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    flex-wrap: wrap; 
}

.main-card {
    width: 23%; 
    height: 40rem;
    box-sizing: border-box; /* padding과 border가 width에 포함되게 설정 */
    /* background-color: #f9f9f9;  */
    border-radius: 8px; 
    overflow: hidden; /* 카드 내 요소가 카드 영역을 벗어나지 않도록 */
    transition: transform 0.3s ease; /* 마우스 오버 시 트랜지션 효과 */
    padding: 2.5rem;
    border: 0.07rem solid #ccc;
    box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.1);
}

.main-card > a {
    text-decoration: none;
    color: #000;
}

.main-card:hover {
    transform: translateY(-5px);
}

.card-img {
    width: 100%;
    height: 65%;
}

.card-img > img {
    width: 100%; 
    height: 100%; 
    object-fit: cover;
    background-color: #f3f3f3; 
}

.card-text {
    margin-top: 1rem;
}

.card-text > p {
    font-size: 1.3rem;
}

.card-title {
    margin-top: 1.7rem;
    display: -webkit-box; /* Webkit 기반 브라우저에서 텍스트가 여러 줄로 표시될 수 있도록 설정 */
    -webkit-line-clamp: 2; /* 텍스트를 2줄로 제한 */
    -webkit-box-orient: vertical; /* 텍스트가 세로로 배치되도록 설정 */
    overflow: hidden; /* 넘치는 텍스트는 숨기기 */

    line-clamp: 2; /* 표준 속성으로 텍스트를 2줄로 제한 */
    box-orient: vertical; /* 표준 속성으로 텍스트 방향 설정 */
    overflow: hidden; /* 넘치는 텍스트는 숨기기 */
    font-weight: 700;
    font-size: 1.9rem;
}


